@media (min-width: 900px) {.container {width: 800px !important;}}

html {
  font-size: 75%;
}

body {
  overflow: scroll;
}

h1, h2, h3 {
  color: black;
  font-family: 'Trochut', cursive;
}

h4, h5, h6 {
  color: black;
  font-family: 'Roboto', cursive;
}

p, p > a, .content-list {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

p > span {float: right;}

a {text-decoration: none !important;}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0 10%;
}

.img-circle {border-radius: 20%;}

#navbar {
  font-size: 18px;
  padding: 10px 20% 5px;
}

#pic {padding-top: 25px;}

#skills {padding-bottom: 10px;}

.content-list-item {
  padding: 10px 60px;
  width: inherit;
}

.glyphicon-envelope {
  color: black;
  font-size: 27px;
  top: 2px;
}
.glyphicon-envelope:hover, .glyphicon-envelope:focus, .glyphicon-envelope:active {color: #FA0C19;}

.logo-row {text-align: center;}

.logo-img {
  display: inline-block;
  padding: 5px 15px;
  vertical-align: middle;
}

.logo-img > img {height: 28px;}

.nav-item {color: black;}
.nav-item:hover, .nav-item:focus, .nav-item:active, a:hover, a:focus, a:active {color: #FA0C19;}

.project-list-header {padding-bottom: 5px;}

.project-list-header-text {
  bottom: 0;
  display: inline;
  margin-bottom: 0;
  vertical-align: bottom;
}

.project-list-header-img {
  display:inline;
  padding: 5px 5px;
}

.project-list-header-img > img {
  height: 20px;
  vertical-align: baseline; !important;
}
