---
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body, p {
    font-family: 'Inconsolata', monospace;
}

pre, code {
    border-radius: 15px;
    background-color: #f6f8fa;
}
